#graphics_wrapper {
    padding-top: 20px;
    text-align: center;
    color: #ECEFF1; 
}
.page-title {
    padding-bottom: 0;
}
#graphics_links > div {
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}
#graphics_links > div.active {
    color: #2196F3; 
}
#svgLink {
    margin-right: 300px;
}
#graphics_container {
    margin-top: 30px;
}
#canvasContainer {
    display: none;
}
#svg-example-links > div, #canvas-example-links > div {
    display: inline;
}
#svg-example-links > div:not(:last-child), #canvas-example-links > div:not(:last-child) {
    margin-right: 30px;
}
#svg_examples_container, #canvas_examples_container {
    margin-top: 20px;
}
.svg-example, .canvas-example {
    display: none;
}
#svg_rectangle_example, #canvas_rectangle_example {
    display: block;
}
svg rect {
    fill: green;
    stroke: yellow;
    stroke-width: 2px;
}
svg circle {
    fill: purple;
    stroke: orange;
    stroke-width: 10px;
}
svg line {
    stroke: blue;
    stroke-width: 5px;
}
