body {
    background-image: none;
    background-color: #CFD8DC;
}
.page-title, p {
    color: #37474F;
}
.page-title {
    padding-bottom: 0;
}
#main_wrapper {
    display: block;
}
#content {
    padding: 0 200px;
}
h4 {
    padding-top: 30px;
    margin-bottom: 0;
}
p {
    margin-top: 5px;
}